h2{
    color: red;
}
li{
	color: blue;
}
html{
	font-size: 150%
}
h1{
	color: purple;
}
html{
	background-color: pink
}
h3{
	color: green;
}
span{
	font-size: 300%
}
span{
	color: red;
}
ol{
	font-size: 130%
}
img{
	width: 950px;
}